@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

/* body{
  background: 
    url("../../../public/floralVertical2.png");
  background-position: center ;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Cookie", cursive !important;
  text-align: center !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.title{
    font-size: 3.3rem !important;
    color: #1b1508 !important;
}
.Subtitles{
  font-size: 1.9rem !important;
  color: #1b1508 !important;
  
}

/* div contenedor para el texto arqueado */
.arco{
  position: relative;
  width: 200px;
  height: 100px;
}

#textFecha{
  font-size: 1.5rem !important;
  color: #1b1508 !important;
  
  text-align: center;  
}


#rings{
  position: relative;
  /* top: 1%; */
  height: 20%;
  width: 60%;
}


.imagenContenedor{
  position: relative;
  width: 100%;
  height: 100vh; /* Ajusta la altura al 100% de la ventana del navegador */
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagenNombres{
  /* object-fit: contain; */
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

#centerImage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  margin: 0;
}
