#textGift{
    text-align: center;
    font-size: 2.5rem !important;
    color: #aa9364 !important;
    text-decoration: none;
  }

  .subtitleGift{
    text-align: center;
    font-size: 1.8rem !important;
    color: #1b1508 !important;
    text-decoration: none;
    /* border: 1px solid black; */

  }